*{
    margin: 0px;
    padding: 0px;
    
}
/* Start Header */

header{
    width: 1680px;
    height: 100px;
     
}

header .logo{
    float: left;
    margin: 28px 170px;
}

header .logo h1{
    color: #4C2882;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
}
header .logo h1 span{
    color: white;
     background-color:#ff6b6b ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 7px 14px 7px;
    margin-right: 10px;
    border-radius: 4px;
 }

 header input {
     margin: 25px auto;
     width: 800px;
     height: 25px;
     padding: 10px 30px;
     border: 1px solid #4C2882 ;
     border-radius: 10px 0px 0px 10px;
     font-size: 18px ;
     color: gray;
     float: left;
 }
 
 header .search{
    background-color: #4C2882;
     color: white;
     padding: 12px 20px 5px 20px;
      font-size: 24px;
     border-radius: 0px 10px 10px 0px;
     float: left;
     margin-top: 25px;
     
 }
 /* END Header */

/* Start navbar */
 nav{
     width: 1680px;
     height: 40px;
     background-color: #ff6b6b;
 }
 nav ul {
    padding: 10px;
    margin-left: 140px;
 }
 nav ul li {
    display:inline;
    padding: 20px;  
    font-family: Arial, Helvetica, sans-serif;
   
 }

 nav ul li a{
     text-decoration: none;
     color: white;
     font-size: 18px;
      
     
 }

 nav ul li .categories {
     margin-right: 130px;
 }

 nav ul li .categories i{
     margin-left: 8px;
 }

 nav ul li .account{
    margin-left: 60px; 
 }
    /* END navbar */
       /* start article */
         /* image */
article picture img{
    width: 1680px;
    height: 500px;
}
        /* section 1 */

.section1 h1{
    margin-top: 50px;
    text-align: center;
    color: #383838;
    font-size: 40px;
    text-transform: uppercase;
}

.section1 ul {
    text-align: center;
    margin-top: 25px;
   
}
.section1 ul li{
    display: inline;
    padding:  20px 40px;
   
}
.section1 ul li a{
    color: #707070;
    text-decoration: none;
    font-size: 25px;
    text-transform: capitalize;

}
.section1 ul li a:hover{
    color: #ff6b6b;
    padding-bottom: 10px;
    border-bottom: 2px solid #ff6b6b;
}

     /*  products */

     .section1 .products{
         display: flex;
         flex-wrap: wrap;
         text-align: center;
         margin: 0px 80px;
        
         
     }
     .section1 .products .product1 , .product2, .product3, .product4, .product5 {
         width: 18%;
         border: 1px solid #E4E4E4;
         margin: 40px 10px;
         border-radius: 3px;
         padding-top: 30px;
          
     }
     .section1 .products img{ 
         width: 50%; 
         padding: 10px;
     
     }

      
    .section1 .products  h5{
        margin-bottom: 20px;
        margin-top: 5px;
        font-size: 17px;
        color: #383838;
    }

    .section1 .products .stars{
        margin-top: 16px;
        padding: 3px;
    }

    .stars{
        color: gray;
    }

    .section1 .products .product1:hover ,.product2:hover ,.product3:hover ,.product4:hover ,.product5:hover{
        box-shadow: 2px 5px 16px #a7a3a3;
    }

         /*  end section 1 */

         /*  start section 2 */
.section2{
    display: flex;
    padding: 90px 280px;
    text-align: center;     
}

.section2 .review2{
    margin: 0px 100px;
}
.section2 .stars{
    padding-top: 10px;
    color: orange;
}

.section2 p{
   line-height: 24px;  
   margin-top: 10px; 
}

.section2 img{
    width: 70%;
    margin-bottom: 30px;
    border: 1px solid #ff6b6b;
    border-radius: 50%;
    padding: 20px;
}

/* end section */

/* START  ABOUT US */

.section3{
    background-color: #F4F4F4;
    width: 1680px;
    height: 700px;
}

.section3{
    display: flex;
    
    
}
.section3 .part1{
    margin: 70px 210px;
}
.section3 .part1 .aboutUs ,.stay{
    padding: 20px;
    width: 430px;
}
.section3 .part1 .aboutUs h1 {
    font-size: 45px;
    color: #383838;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.section3 .part1 .aboutUs p{
    line-height: 22px;
    font-size: 17px;
}

.section3 .part1 .stay h1 {
    text-align: center;
    font-size: 45px;
    color: #222222;
    text-transform: uppercase;
    margin-top: 125px;
}
 .section3 .part1 .stay p{
    font-size: 17px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
 }

 .section3 .part1 .stay input[type="email"]{
     width: 280px;
     padding: 10px 9px;
     border-radius: 4px;
     color: gray;
     font-size: 16px;
    
 }
 .section3 .part1 .stay a{
     width: 100px;
     float: right;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     padding: 13px 9px;
    margin-left: -20px;
     border-radius: 4px;
     background-color: #222222;
     color: white;
     font-size: 12px;
     font-weight: bold;
     text-transform: uppercase;
     text-decoration: none;
 }

 .section3 .part1 .stay a:hover{
     background-color: #ff6b6b;
     transition-duration:1s;
 }

 .section3 .part2 h1{
    text-align: center;
    font-size: 45px;
    color: #222222;
    text-transform: uppercase;
    margin-top: 80px;
 }

 .section3 .part2 p{
     margin-top: 12px;
     font-size: 18px;
    text-align: center;
 }
 .section3 .part2 .socialMedia ul{
     text-align: center;
     margin-top: 25px;
      
 }
   .section3 .part2 .socialMedia ul li {
    list-style: none;
    display: inline;
    margin: 0px 10px;
  }  

  .section3 .part2 .socialMedia ul li a i {

    font-size: 50px;
    color: #222222;
  }

  .section3 .part2 .socialMedia ul li a i:hover {
    color: #ff6b6b;
    transition-duration:1s;
  }

.section3 img{
    width: 85%;
     
}

.section3 .part2{
    margin: 60px 230px;
}

/* end section */
/* START FOOTER */
footer {
    display: flex;
    color: white;
    background-color: #222222;
    padding: 40px;
    
    
 }
 footer .column1 ,.column2 ,.column3 ,.column4{
      
      margin-left: 100px;
        margin-top: 20px;
       

 }
 footer .column1 .socialmedia2{
     margin-top: 20px;
     margin-left: -10px;
 }
 footer .column1 .socialmedia2 li{
     display: inline;
     padding: 10px;
     font-size: 25px;
  }

 footer h2{
     margin: 20px 0px; 
     text-transform: uppercase;
     color: #E4E4E4;
 }
 footer p{
     font-size: 16px;
 }
 footer ul li {
     color: #A19FA6;
     list-style-type: none;
     margin-top: 10px;
     font-size: 17px;
 
 }
 footer ul li a {
     color: #A19FA6;
     text-decoration: none;
  }
 
 footer .column4 .map{
     color: #F4F4F4;
     font-size: 19px;
     border-bottom: 1px solid white;
 }

 
 .copyright{
     background-color: #222222;
     color: #E4E4E4;
      padding: 10px 130px;
     border-top: 2px solid #A19FA6;
 }